@import '@styles/_theme.scss';
@import '@styles/_mixins.scss';

html {
  @include smooth-font;
  color: $textPrimary;
  @include font-size-reset;
}

body {
  color: $textPrimary;
}

a {
  color: $colorPrimary;
  text-decoration: none;
}

// markdown override
div p img {
  display: block;
  margin: auto;
  max-width: 75%;
}
