@import '@styles/_theme.scss';

@mixin highlight-text() {
  background: $highlightBG;
  color: #fff;

  &:before {
    content: '\00a0';
  }

  &:after {
    content: '\00a0';
  }
}

@mixin highlight-text-with-pad() {
  @include highlight-text;
  padding: 0 0.25rem;
}

@mixin anchor-style {
  color: $textPrimary;

  &:hover {
    color: $colorPrimary;
  }
}
