@import '@styles/_theme.scss';
@import '@styles/_breakpoints.scss';

@mixin highlight-text() {
  background: lighten($highlightBG, 5%);
  color: #fff;
  border-radius: 1px;

  &:before {
    content: '\00a0';
  }

  &:after {
    content: '\00a0';
  }
}

@mixin highlight-text-with-pad() {
  @include highlight-text;
  padding: 0 0.25rem;
}

@mixin anchor-style {
  color: $textPrimary;

  &:hover {
    color: $colorPrimary;
  }
}

@mixin smooth-font {
  $smoothTextShadowColor: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: $smoothTextShadowColor;
}

@mixin font-size-reset {
  font-size: 15px;

  @include breakpoint-large-up {
    font-size: 17px;
  }

  @include breakpoint-medium-down {
    font-size: 17px;
  }
}
