$primary-blue: #5badf0;
$alternate-blue: #3f86ed;
$primary-cyan: #79c6c0;
$primary-pink: #d23669;
$primary-grey: #607d8b;
$border-grey: #eee;

$highlight-blue: #daedf7;
$highlight-grey: #dfe6e9;
$highlight-cyan: #d7f2ef;

$text-black: #333;
$samantha-black: #4a4a4a;
$osmoni-grey: #aaa;
$samantha-grey: #9b9b9b;

$colorPrimary: $primary-blue;
$colorAlternate: $alternate-blue;
$textPrimary: $samantha-black;
$textAlternate: $samantha-grey;
$highlightBG: $primary-blue;
$borderGrey: $border-grey;

// variables
$headerHeight: 4rem;
$footerHeight: 3rem;
