@import '@styles/_theme.scss';
@import '@styles/_mixins.scss';
@import '@styles/_breakpoints.scss';

.wrapper {
  margin: 0.75rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .anchor {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    @include anchor-style;

    &:hover {
      .desc {
        color: $colorPrimary;
      }
    }

    @include breakpoint-medium-down {
      flex-direction: column;
    }

    .title {
      font-size: 1rem;
      font-weight: 400;
    }

    .desc {
      font-size: 0.95rem;
      color: darken($textAlternate, 5%);
      @include breakpoint-medium-down {
        font-size: 1rem;
      }
    }
  }
}

.dot-separator-wrapper {
  @include breakpoint-medium-down {
    display: none;
  }
}
