@import '@styles/_mixins.scss';

.highlight {
  @include highlight-text;
}

.highlight-with-pad {
  @include highlight-text-with-pad;
}

.highlight-underline {
  // font-style: italic;
  font-weight: 500;
  color: $colorAlternate;
  box-shadow: 0 1.5px 0 0 currentColor;
}
